<!DOCTYPE html>
<html lang="zxx">
    <head>
        <meta charset="utf-8">
        <meta name="description" content="Erudex">
        <meta name="keywords" content="HTML,CSS,JavaScript">
        <meta name="author" content="HiBootstrap">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
      <title>Abriella</title>
        <link rel="icon" href="assets/images/favicon.png" type="image/png" sizes="16x16">

        <!-- bootstrap css -->
        <link rel="stylesheet" href=@Url.Content("/Content/assets/css/bootstrap.min.css") type="text/css" media="all" />
        <!-- animate css -->
        <link rel="stylesheet" href=@Url.Content("/Content/assets/css/animate.min.css") type="text/css" media="all" />
        <!-- owl carousel css -->
        <link rel="stylesheet" href=@Url.Content("/Content/assets/css/owl.carousel.min.css")  type="text/css" media="all" />
        <link rel="stylesheet" href=@Url.Content("/Content/assets/css/owl.theme.default.min.css")  type="text/css") media="all" />
        <!-- meanmenu css -->
        <link rel="stylesheet" href=@Url.Content("/Content/assets/css/meanmenu.min.css") type="text/css" media="all" />
        <!-- magnific popup css -->
        <link rel="stylesheet" href=@Url.Content("/Content/assets/css/magnific-popup.min.css") type="text/css" media="all" />
        <!-- boxicons css -->
        <link rel='stylesheet' href=@Url.Content("/Content/assets/css/icofont.min.css") type="text/css" media="all" />
        <!-- flaticon css -->
        <link rel='stylesheet' href=@Url.Content("/Content/assets/css/flaticon.css") type="text/css" media="all" />
        <!-- nice select css -->
        <link rel="stylesheet" href=@Url.Content("/Content/assets/css/nice-select.css") type="text/css") media="all" />
        <!-- style css -->
        <link rel="stylesheet" href=@Url.Content("/Content/assets/css/style.css") type="text/css") media="all" />
        <!-- responsive css -->
        <link rel="stylesheet" href=@Url.Content("/Content/assets/css/responsive.css") type="text/css" media="all" />
        <!--[if IE]>
            <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
    </head>

    <body>
        <!-- Preloader -->
        <div class="preloader">
            <div class="preloader-wrapper">
                <div class="preloader-content">
                    <div class="blob-1"></div>
	                <div class="blob-2"></div>
                </div>
            </div>
        </div>
        <!-- Preloader -->
        <!-- Navbar -->
         <div class="fixed-top bg-white">
            <div class="topbar">
                <div class="container">
                    <div class="topbar-inner">
                        <div class="row justify-content-center justify-content-lg-between">
                            <div class="topbar-item topbar-left">
                                <ul class="topbar-list">
                                    <li>
                                        <i class="icofont-headphone"></i>
                                        <a href="tel:00321-654-98">+00 321 654 98</a>
                                    </li>
                                    <li>
                                        <i class="icofont-ui-message"></i>
                                        <a href="mailto:info@erudex.com">info@erudex.com</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="topbar-item topbar-right">
                                <ul class="topbar-list">
                                    <li>
                                        <i class="icofont-paper-plane"></i>
                                        <a href='@Url.Action("Contact","Contact")'>Request For Demo</a>
                                    </li>
                                    <li class="search-option">
                                        <i class="icofont-search-1"></i>
                                        <a href="#" class="search-popup">Search</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="navbar-area sticky-black">
                <div class="container">
                    <div class="mobile-nav">
                        <a href='@Url.Action("HomePage","HomePage")' class="mobile-brand">
                            <img src=@Url.Content("/Content/assets/images/logo.png") alt="logo" class="logo">
                        </a>
                        <div class="navbar-option">
                            <div class="navbar-option-item">
                                <button type="button">
                                    <i class="flaticon-user" ></i>
                                </button>
                            </div>
                            <div class="navbar-option-item side-topbar-option">
                                <button type="button">
                                    <i class="flaticon-grid" ></i>
                                </button>
                            </div>
                            <div class="navbar-option-item">
                                <button type="button" class="search-option">
                                    <i class="icofont-search-1"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="main-nav">
                    <div class="container">
                        <nav class="navbar navbar-expand-md navbar-light">
                            <a class="navbar-brand" href='@Url.Action("HomePage","HomePage")'>
                                <img src=@Url.Content("/Content/assets/images/logo.png") alt="logo" class="logo">
                            </a>
                            <div class="collapse navbar-collapse mean-menu" id="navbarSupportedContent">
                                <ul class="navbar-nav mx-auto">
                                    <li class="nav-item">
                                        <li class="nav-item  nav-item-1">
                                                <a href='@Url.Action("HomePage","HomePage")' class="nav-link">Home</a>
                                            </li>
                                           
                                        
                                   
                                    <li class="nav-item">
                                        <a href='@Url.Action("AboutUs","AboutUs")' class="nav-link ">About Us</a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="#" class="nav-link dropdown-toggle">Services</a>
                                        <ul class="dropdown-menu">
                                           <li class="nav-item">
                                                <a href='@Url.Action("Services","Service")' class="nav-link">Services</a>
                                            </li>
                                            <li class="nav-item">
                                                <a href='@Url.Action("SingleServices","Service")' class="nav-link">Single Service</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="nav-item">
                                        <a href="#" class="nav-link dropdown-toggle active">Pages</a>
                                        <ul class="dropdown-menu">
                                            <li class="nav-item">
                                                <a href='@Url.Action("Pricing","Pages")' class="nav-link">Pricing</a>
                                            </li>
                                            <li class="nav-item">
                                                <a href='@Url.Action("FAQ","Pages")' class="nav-link">FAQ's</a>
                                            </li>
                                             <li class="nav-item">
                                                <a href='@Url.Action("OurTeam","Pages")' class="nav-link ">Our Team</a>
                                            </li>
                                            <li class="nav-item">
                                                <a href="#" class="nav-link dropdown-toggle ">Projects</a>
                                                <ul class="dropdown-menu">
                                                    <li class="nav-item">
                                                        <a href='@Url.Action("Projects","Pages")' class="nav-link">Projects</a>
                                                    </li>
                                                    <li class="nav-item">
                                                        <a href='@Url.Action("SingleProjects","Pages")' class="nav-link">Single Project</a>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li class="nav-item">
                                                <a href="#" class="nav-link dropdown-toggle">Case Study</a>
                                                <ul class="dropdown-menu">
                                                    <li class="nav-item">
                                                        <a href='@Url.Action("CaseStudy","Pages")' class="nav-link">Case</a>
                                                    </li>
                                                    <li class="nav-item">
                                                        <a href='@Url.Action("CaseTwoColumns","Pages")' class="nav-link">Cases Two Columns</a>
                                                    </li>
                                                   <li class="nav-item">
                                                        <a href='@Url.Action("SingleCase","Pages")' class="nav-link">Single Case</a>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li class="nav-item">
                                                <a href='@Url.Action("Testimonial","Pages")' class="nav-link">Testimonial</a>
                                            </li>
                                            <li class="nav-item">
                                                <a href='@Url.Action("OurClients","Pages")' class="nav-link ">Our Clients</a>
                                            </li>
                                            <li class="nav-item">
                                                <a href='@Url.Action("Careers","Pages")' class="nav-link ">Careers</a>
                                            </li>
                                            <li class="nav-item">
                                                <a href="#" class="nav-link dropdown-toggle">Products</a>
                                                <ul class="dropdown-menu">
                                                    <li class="nav-item">
                                                        <a href='@Url.Action("Products","Pages")' class="nav-link">Products</a>
                                                    </li>
                                                    <li class="nav-item">
                                                        <a href='@Url.Action("SingleProducts","Pages")' class="nav-link">Single Products</a>
                                                    </li>
                                                    <li class="nav-item">
                                                        <a href='@Url.Action("Cart","Pages")' class="nav-link active">Cart</a>
                                                    </li>
                                                     <li class="nav-item">
                                                        <a href='@Url.Action("Checkout","Pages")' class="nav-link">Checkout</a>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li class="nav-item">
                                                <a href="#" class="nav-link dropdown-toggle">Users</a>
                                                <ul class="dropdown-menu">
                                                      <li class="nav-item">
                                                        <a href='@Url.Action("Authentication","Pages")' class="nav-link">Authentication</a>
                                                    </li>
                                                    <li class="nav-item">
                                                        <a href='@Url.Action("ForgotPassword","Pages")' class="nav-link ">Forget Password</a>
                                                    </li>
                                                    <li class="nav-item">
                                                        <a href='@Url.Action("MyAccount","Pages")' class="nav-link">My Account</a>
                                                    </li>
                                                   <li class="nav-item">
                                                        <a href='@Url.Action("MyOrders","Pages")' class="nav-link">My Orders</a>
                                                    </li>
                                                     <li class="nav-item">
                                                        <a href='@Url.Action("MyAddresses","Pages")' class="nav-link">My Addresses</a>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li class="nav-item">
                                                <a href="#" class="nav-link dropdown-toggle">Others</a>
                                                <ul class="dropdown-menu">
                                                    <li class="nav-item">
                                                        <a href='@Url.Action("DemoProducts","Pages")' class="nav-link">Demo Product</a>
                                                    </li>
                                                     <li class="nav-item">
                                                        <a href='@Url.Action("Feedback","Pages")' class="nav-link">Feedback</a>
                                                    </li>
                                                   <li class="nav-item">
                                                        <a href='@Url.Action("Termofservice","Pages")' class="nav-link">Terms Of Service</a>
                                                    </li>
                                                    <li class="nav-item">
                                                        <a href='@Url.Action("PrivicyPolicy","Pages")' class="nav-link">Privacy Policy</a>
                                                    </li>
                                                     <li class="nav-item">
                                                        <a href='@Url.Action("SearchPage","Pages")' class="nav-link">Search Page</a>
                                                    </li>
                                                    <li class="nav-item">
                                                        <a href='@Url.Action("Error404","Pages")' class="nav-link">404 Error Page</a>
                                                    </li>
                                                     <li class="nav-item">
                                                        <a href='@Url.Action("ComingSoon","Pages")' class="nav-link">Coming Soon</a>
                                                    </li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="nav-item">
                                        <a href="#" class="nav-link dropdown-toggle">Blogs</a>
                                        <ul class="dropdown-menu">
                                            <li class="nav-item">
                                                <a href='@Url.Action("blogswithoutrightsidebar","Blogs")' class="nav-link">Blogs Grid</a>
                                            </li>
  <li class="nav-item">
                                                <a href='@Url.Action("blogsrightsidebar","Blogs")' class="nav-link">Blogs Right Sidebar</a>
                                            </li>
                                            <li class="nav-item">
                                                <a href='@Url.Action("SingleBlog","Blogs")' class="nav-link">Single Blog</a>
                                            </li>
                                        </ul>
                                    </li>
                                     <li class="nav-item">
                                       <a href='@Url.Action("Contact","Contact")' class="nav-link">Contact</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="navbar-option">
                                <div class="navbar-option-item">
                                    <a href='@Url.Action("Authentication","Pages")' class="btn main-btn">Login Or Register</a>
                                </div>
                            </div>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
        <!-- Navbar -->
        <!-- Header -->
        <header class="inner-page-header">
            <div class="container">
                <div class="inner-header-content">
                    <h1>Cart</h1>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                          <li class="breadcrumb-item"><a href='@Url.Action("HomePage","HomePage")'>Home</a></li>
                          <li class="breadcrumb-item active" aria-current="page">Cart</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </header>
        <!-- Header -->
        <!-- Cart-section -->
        <section class="cart-section pt-100 pb-70">
            <div class="container">
                <div class="cart-section-inner">
                    <div class="cart-section-item cart-section-contents"> <!-- Add class "cart-section-contents-hide" if no content are in the cart. -->
                        <div class="cart-table">
                            <table>
                                <thead>
                                    <tr>
                                        <th>Product</th>
                                        <th>ID</th>
                                        <th>Unit Price</th>
                                        <th>Quantity</th>
                                        <th>Total</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            <div class="product-table-info">
                                                <div class="product-table-thumb">
                                                    <img src=@Url.Content("/Content/assets/images/products/product1.png") alt="product">
                                                </div>
                                                <span>Magnite Camera</span>
                                            </div>
                                        </td>
                                        <td class="weight-500">ER-001-001</td>
                                        <td>$144.79</td>
                                        <td>
                                            <div class="cart-quantity">
                                                <button class="qu-btn dec">-</button>
                                                <input type="text" class="qu-input" value="1">
                                                <button class="qu-btn inc">+</button>
                                            </div>
                                        </td>
                                        <td>$144.79</td>
                                        <td class="cancel"><a href="#"><i class="icofont-close"></i></a></td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="product-table-info">
                                                <div class="product-table-thumb">
                                                    <img src=@Url.Content("/Content/assets/images/products/product2.png") alt="product">
                                                </div>
                                                <span>Spy Camera</span>
                                            </div>
                                        </td>
                                        <td class="weight-500">ER-001-002</td>
                                        <td>$130.89</td>
                                        <td>
                                            <div class="cart-quantity">
                                                <button class="qu-btn dec">-</button>
                                                <input type="text" class="qu-input" value="2">
                                                <button class="qu-btn inc">+</button>
                                            </div>
                                        </td>
                                        <td>$261.78</td>
                                        <td class="cancel"><a href="#"><i class="icofont-close"></i></a></td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="product-table-info">
                                                <div class="product-table-thumb">
                                                    <img src=@Url.Content("/Content/assets/images/products/product3.png") alt="product">
                                                </div>
                                                <span>Security Camera</span>
                                            </div>
                                        </td>
                                        <td class="weight-500">ER-001-003</td>
                                        <td>$108.59</td>
                                        <td>
                                            <div class="cart-quantity">
                                                <button class="qu-btn dec">-</button>
                                                <input type="text" class="qu-input" value="2">
                                                <button class="qu-btn inc">+</button>
                                            </div>
                                        </td>
                                        <td>$217.18</td>
                                        <td class="cancel"><a href="#"><i class="icofont-close"></i></a></td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="product-table-info">
                                                <div class="product-table-thumb">
                                                    <img src=@Url.Content("/Content/assets/images/products/product4.png") alt="product">
                                                </div>
                                                <span>Smart Camera</span>
                                            </div>
                                        </td>
                                        <td class="weight-500">ER-001-004</td>
                                        <td>$105.59</td>
                                        <td>
                                            <div class="cart-quantity">
                                                <button class="qu-btn dec">-</button>
                                                <input type="text" class="qu-input" value="3">
                                                <button class="qu-btn inc">+</button>
                                            </div>
                                        </td>
                                        <td>$316.77</td>
                                        <td class="cancel"><a href="#"><i class="icofont-close"></i></a></td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="product-table-info">
                                                <div class="product-table-thumb">
                                                    <img src=@Url.Content("/Content/assets/images/products/product5.png") alt="product">
                                                </div>
                                                <span>CCTV Hidden</span>
                                            </div>
                                        </td>
                                        <td class="weight-500">ER-001-005</td>
                                        <td>$115.14</td>
                                        <td>
                                            <div class="cart-quantity">
                                                <button class="qu-btn dec">-</button>
                                                <input type="text" class="qu-input" value="1">
                                                <button class="qu-btn inc">+</button>
                                            </div>
                                        </td>
                                        <td>$115.14</td>
                                        <td class="cancel"><a href="#"><i class="icofont-close"></i></a></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="row justify-content-between align-items-center mt-30">
                            <div class="col-sm-12 col-md-4 col-lg-3">
                                <div class="cart-update cart-info-item">
                                    <a href="#" class="btn main-btn full-width">
                                        Update Cart
                                    </a>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-7 col-lg-5">
                                <div class="cart-coupon cart-info-item">
                                    <form>
                                        <div class="form-group">
                                            <input type="email" class="form-control" placeholder="Enter Coupon Code">
                                            <button class="btn main-btn">Apply Coupon</button>
                                          </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="row align-items-center">
                            <div class="col-sm-12 col-md-6 col-lg-6 pb-30">
                                <div class="cart-image">
                                    <img src=@Url.Content("/Content/assets/images/cart1.png") alt="cart">
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-6 col-lg-6 pb-30">
                                <div class="cart-details default-box-shadow">
                                    <h3 class="cart-details-title">Cart Totals</h3>
                                    <div class="cart-total-box">
                                        <div class="cart-total-item">
                                            <h4>Subtotal</h4>
                                            <p>$144.79</p>
                                        </div>
                                        <div class="cart-total-item">
                                            <h4>Shipping</h4>
                                            <p>$261.78</p>
                                        </div>
                                        <div class="cart-total-item">
                                            <h4>Total</h4>
                                            <p>$406.57</p>
                                        </div>
                                    </div>
                                    <a href='@Url.Action("Checkout","Pages")' class="btn main-btn">Make Payment</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="cart-section-item cart-section-empty"> <!-- Add class "cart-section-empty-active" if no contents are available in the cart. -->
                        <div class="cart-empty-content">
                            <div class="cart-empty-image">
                                <img src=@Url.Content("/Content/assets/images/cart1.png") alt="cart">
                            </div>
                            <div class="cart-empty-text">
                                <h3><span>Sorry!!</span> Your Cart Is Currently Empty.</h3>
                                <p>Get the most dedicated consultation for your life-changing course</p>
                                <a href="products.html" class="btn main-btn">Back To Shop</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Cart-section -->
        <!-- Footer -->
        <footer class="bg-off-white footer">
            <div class="footer-shapes">
                <div class="footer-shape">
                    <img src=@Url.Content("/Content/assets/images/shape-1.png") alt="shape">
                </div>
                <div class="footer-shape footer-round-shape">
                    <img src=@Url.Content("/Content/assets/images/shape-2.png") alt="shape">
                </div>
            </div>
                      <div class="footer-upper pt-100 pb-80 position-relative">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12 col-md-6 col-lg-3">
                            <div class="footer-content-item">
                                <div class="footer-logo">
                                    <a href='@Url.Action("HomePage","HomePage")'><img src=@Url.Content("/Content/assets/images/logo.png") alt="logo"></a>
                                </div>
                                <div class="footer-details">
                                    <p>Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate.</p>
                                    <ul class="social-list social-list-btn">
                                        <li>
                                            <a href="https://www.facebook.com/" target="_blank"><i class="icofont-facebook"></i></a>
                                        </li>
                                        <li>
                                            <a href="https://twitter.com/" target="_blank"><i class="icofont-twitter"></i></a>
                                        </li>
                                        <li>
                                            <a href="https://www.instagram.com/" target="_blank"><i class="icofont-instagram"></i></a>
                                        </li>
                                        <li>
                                            <a href="https://www.pinterest.com/" target="_blank"><i class="icofont-pinterest"></i></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-6 col-lg-3">
                            <div class="footer-content-list footer-content-item desk-pad-left-70">
                                <div class="footer-content-title">
                                    <h3>Useful Links</h3>
                                </div>
                                <ul class="footer-details footer-list">
                                    <li><a href='@Url.Action("AboutUs","AboutUs")'>About Us</a></li>
                                    <li><a href='@Url.Action("blogsrightsidebar","Blogs")'>News & Blogs</a></li>
                                    <li><a href='@Url.Action("Services","Service")'>Services</a></li>
                                    <li><a href='@Url.Action("Products","Pages")'>Products</a></li>
                                    <li><a href='@Url.Action("Pricing","Pages")'>Our Pricing</a></li>
                                    <li><a href='@Url.Action("Contact","Contact")'>Contact</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-6 col-lg-3">
                            <div class="footer-content-list footer-content-item desk-pad-left-70">
                                <div class="footer-content-title">
                                    <h3>Services</h3>
                                </div>
                                <ul class="footer-details footer-list">
                                    <li><a href='@Url.Action("SingleServices","Service")'>Robotic Automation</a></li>
                                    <li><a href='@Url.Action("SingleServices","Service")'>Predictive Analytic</a></li>
                                    <li><a href='@Url.Action("SingleServices","Service")'>Deep Learning</a></li>
                                    <li><a href='@Url.Action("SingleServices","Service")'>Statistic Modeling</a></li>
                                    <li><a href='@Url.Action("SingleServices","Service")'>Data Mining</a></li>
                                    <li><a href='@Url.Action("SingleServices","Service")'>Security & Surveillance</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-6 col-lg-3">
                            <div class="footer-content-list footer-content-item desk-pad-left-70">
                                <div class="footer-content-title">
                                    <h3>Contact</h3>
                                </div>
                                <div class="footer-details footer-address">
                                    <div class="footer-address-item">
                                        <div class="footer-address-text">
                                            <h4>Phone:</h4>
                                            <p><a href="tel:001-987-654-432">(+1) 987 654 432</a></p>
                                        </div>
                                    </div>
                                    <div class="footer-address-item">
                                        <div class="footer-address-text">
                                            <h4>Email:</h4>
                                            <p><a href="mailto:info@erudex.com">info@erudex.com</a></p>
                                        </div>
                                    </div>
                                    <div class="footer-address-item">
                                        <div class="footer-address-text">
                                            <h4>Address:</h4>
                                            <p>214, Queens 4th cross, NY</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-lower bg-blue position-relative">
                <div class="container">
                    <div class="footer-copyright-text footer-copyright-text-white">
                        <p>Copyright ©2021 Erudex. Designed & Developed By <a href="https://envytheme.com/" target="_blank">EnvyTheme</a></p>
                    </div>
                </div>
            </div>
        </footer>
        <!-- Footer -->

        <!-- Scroll-top -->
        <div class="scroll-top" id="scrolltop">
            <div class="scroll-top-inner">
                <i class="icofont-long-arrow-up"></i>
            </div>
        </div>
        <!-- Scroll-top -->

        <!-- Topbar-side-modal -->
        <div class="side-modal-wrapper">
            <div class="side-modal">
                <div class="side-modal-header">
                    <div class="side-modal-logo">
                        <a href="index.html"><img src=@Url.Content("/Content/assets/images/logo.png") alt="logo"></a>
                    </div>
                    <div class="side-modal-close">
                        <i class="icofont-close"></i>
                    </div>
                </div>
                <div class="side-modal-body">
                    <div class="sidebar-info-content">
                        <h3>Contact Us</h3>
                        <div class="sidebar-info-list">
                            <div class="sidebar-info-list-item">
                                <i class="icofont-headphone"></i>
                                <a href="tel:00321-654-98">+00 321 654 98</a>
                            </div>
                            <div class="sidebar-info-list-item">
                                <i class="icofont-ui-message"></i>
                                <a href="mailto:info@erudex.com">info@erudex.com</a>
                            </div>
                            <div class="sidebar-info-list-item">
                                <i class="icofont-paper-plane"></i>
                                <a href="contact.html">Request For Demo</a>
                            </div>
                        </div>
                    </div>
                    <div class="sidebar-info-content">
                        <h3>Follow Us</h3>
                        <ul class="social-list">
                            <li>
                                <a href="https://www.facebook.com/" target="_blank"><i class="icofont-facebook"></i></a>
                            </li>
                            <li>
                                <a href="https://twitter.com/" target="_blank"><i class="icofont-twitter"></i></a>
                            </li>
                            <li>
                                <a href="https://www.instagram.com/" target="_blank"><i class="icofont-instagram"></i></a>
                            </li>
                            <li>
                                <a href="https://www.pinterest.com/" target="_blank"><i class="icofont-pinterest"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- Topbar-side-modal -->

        <!-- Search-overlay -->
        <div class="search-overlay">
            <div class="search-close">
                <i class="icofont-close"></i>
            </div>
            <div class="search-form-area">
                <div class="search-area-logo">
                    <a href="index.html">
                        <img src=@Url.Content("/Content/assets/images/logo-white.png") alt="logo">
                    </a>
                </div>
                <form>
                    <div class="form-group search-form-group">
                        <input type="text" placeholder="Search..." class="form-control" autofocus="autofocus">
                        <button>
                            <i class="icofont-search-1"></i>
                        </button>
                    </div>
                </form>
            </div>
        </div>
        <!-- Search-overlay -->


        <!-- essential js -->
        <script src=@Url.Content("/Content/assets/js/jquery.min.js")></script>
        <script src=@Url.Content("/Content/assets/js/bootstrap.bundle.min.js")></script>
        <!-- magnific popup js -->
        <script src=@Url.Content("/Content/assets/js/jquery.magnific-popup.min.js")></script>
        <!-- owl carousel js -->
        <script src=@Url.Content("/Content/assets/js/owl.carousel.min.js")></script>
        <!-- nice select js -->
        <script src=@Url.Content("/Content/assets/js/jquery.nice-select.min.js")></script>
        <!-- form ajazchimp js -->
        <script src=@Url.Content("/Content/assets/js/jquery.ajaxchimp.min.js")></script>
        <!-- form validator js  -->
        <script src=@Url.Content("/Content/assets/js/form-validator.min.js")></script>
        <!-- contact form js -->
        <script src=@Url.Content("/Content/assets/js/contact-form-script.js")></script>
        <!-- meanmenu js -->
        <script src=@Url.Content("/Content/assets/js/jquery.meanmenu.min.js")></script>
        <!-- main js -->
        <script src=@Url.Content("/Content/assets/js/script.js")></script>
    </body>
</html>